/* importo flia rubik de google fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');*/


/* :root{
    --clr-oscuro: #83816f;
    --clr-intermedio: #9f9d8a;
    --clr-claro: #e6e6d3;
    --clr-blanco: white;
    --clr-negro:black;
} */

body{
    margin: 0px;
}

/* navbar */
.nav-container{
    position: sticky;
    z-index: 3;
    top: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: #4d644b;
    color:white;
}

.nav-logo{
    justify-self: start;
    margin-left: 20px;
    color: #fff;
    margin-top: 4vh;
    cursor: pointer;
}

.ver-carrito{
    font-size: 25px;
    margin-right: 20px;
    margin-top: 3.5vh;
    cursor: pointer;
}

/* Banner styles */
.banner{
    background-size:contain;
    background-position: center;
    height: 500px;
    background-image: linear-gradient(rgba(148, 229, 189, 0),rgba(23, 201, 65, 0.348)),
    url(/img/logo_Vital_MIST-removebg-preview.png);
    width: 1350px;
}

.banner-container{
    text-align: center;
    padding: 1% 0;
}

.banner h1{
    margin: 0;
    color: rgb(21, 33, 20);
    opacity: 0.7;
    text-shadow: 1px1px 3px rgba(248, 248, 248, 0.2);
}
.banner p{
    margin: 0;
    color: rgb(0, 0, 0);
    opacity: 0.7;
    text-shadow: 1px1px 3px rgba(248, 248, 248, 0.2);
}

/* product cards */
.shop-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 300px;
    height: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.card > img{
    width: 90%;
    height: 250px;
}

.price{
    color: rgb(16, 1, 1);
    font-size: 14px;
    font-weight: 600;
}

.card button{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #4d644b;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover{
    
    /* opacity: 0.6; */
    border:#4d644b solid 2px;
    color: black;
    background-color: white;

}
/* modal content */

.modal-container{
    width: 40%;
    margin-left: 800px;
    max-height: 88vh;
    color: #030000;
    background-color: #cadbd0;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* for the top */
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}
/* para que no se vea la barra de scroll */
.modal-container::-webkit-scrollbar{
    display: none;
}

.modal-header{
    display: flex;
    justify-content: space-around;
    background-color: #2aad54;
    color: #fff;
    width: 100%;
    font-size: 12px;
    font-family: cursive;
}

.modal-header-title{
    justify-self: start;
}

.modal-header-button{
    cursor: pointer;
    border-radius: 50%;;
    font-size: 16px;
    padding: 5px;
    background-color: white;
    color: black;

}

.modal-header-button:hover{
    color:white;
    background-color: black;
}

.modal-container > .modal-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
    font-family: cursive;
    font-size: 12px;
}

.modal-container > div > img{
    width: 70px;
    height: 70px;
}

/* el tacho de basura para eliminar producto del carrito */
.borrarProducto{
    cursor: pointer;
    font-size: 16px;
    color: black;
    background-color: red;
    border-radius: 50%;
    color: white;
    padding: 5px;






}

.total-content{
    font-size: 20px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
    font-family: cursive;
}


/* cantidad carrito mostrado en NAV */
.cantidad-carrito{
    background-color: blue;
    color: white;
    border-radius: 90%;
    font-size: 18px;
    padding: 5px;
    top: 37px;
    right: 14px;
    position: absolute;
    display: none;
}

