:root{
    --clr-main: #83816f;
    --clr-secundario: #9f9d8a;
    --clr-terciario: #e6e6d3;
    --clr-negro: #1f1f1f;
    --clr-blanco: #f5f5f5;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:; */
}

/* barra de navegacion */

.navbar {
    padding:  .5rem;
    background-color: #83816f;
    font-weight: 400;
    font-size: 1.1rem;
    /* color: white; */
 
    

}
.navbar-collapse{
    align-items: center;
    justify-content:space-between;
    /* color: white; */
}

/* Estilos generales */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:white;
}
h1{
    font-size: 2.5rem;

}
.seccion-oscura{
    color: white;
    background-color:#83816f;
}
.seccion-clara{
    color: black;
    background-color: white;
}

.seccion-titulo{
    /* background-color: black; */
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik', sans-serif;
    
}

.seccion-texto{
    font-size: 1.2rem;

}



/* seccion hero */

/* .hero{
    background-color: white;
    min-height: 300px;
    text-align: center;

} */
.hero-principal{
    padding: 1rem;
}
.hero-logotipo{
    width: 600px;
    height: 150px;
    border-radius: 1%;
    margin: 5px;
    /* rounded-circle en bootrap */
}
.hero-imagen-principal{
    width: 1480px;
    height: 600px;
    border-radius: 1%;
    margin: 5px;
    /* rounded-circle en bootrap */
}
.hero-principal h2{
    font-size: 1.3rem;
    color: rgb(85, 50, 110);
    font-family: 'Rubik', sans-serif;
}
h1{
    font-family: 'Rubik', sans-serif;
    color: rgb(131, 76, 170);
    font-size: 1.8rem;
}

/* sobre mi */
.la-empresa{
    height: 500px;
    padding: 10px;
}
.la-empresa .contenedor{
    max-width: 1000px;
    text-align: center;
    min-width: 300px;
    overflow: auto;
    
}

/* servicios */


.servicios {
    padding: 40px 40px 60px 40px;
}
/* .servicios .row div{
    height: 250px;
    background-color: purple;
    border: 3px solid orange;
} */
/* icono columna servicios  */
.servicios i {
    font-size: 2.5rem;
    color: wheat;
    background-color:rgb(131, 76, 170);
    padding: 8px 19px;
    border-radius: 50%;
}
.servicios .columna{
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    transition: all 0.2s ease-in;
}
.servicios .columna:hover{
    color: white;
    background-color:rgba(19, 1, 1, 0.938);
}

.servicios-web{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}
.badges-contenedor{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}
.badges{
    margin: 5px;
}

/* tutoriales */

.tutoriales{
    min-height: 500px;
    padding: 30px;
}

.tutoriales .card{
    width: 80%;
    max-width: 600px;
    margin: 20px;
}
.tutoriales .card-header{
    font-weight: bold;
}

/* contacto */
.contacto .container{
    max-width: 1100px;
    min-width: 200px;
    padding: 20px;
    font-weight: 500;
}

.contacto .rectangulo{
    margin-top: -5rem;
    background-color:#9f9d8a;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px;
}

.contacto .row{
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto .descripcion{
    color: white;
    font-size: 1.2rem;
}

.contacto button{
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid wheat;
    padding: 1.25rem 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover{
    background-color: #e6e6d3;
    color:#83816f;
}

.contacto button i{
    color:white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover i{
    color: #83816f
}

/* footer */
footer{
    min-height: 150px;

}
.footer-texto{
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
}

.iconos-redes-sociales a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid #adab98;
    border-radius: 50%;
    transition: all 0.2s ease-in;
    /* color: rgb(241, 245, 6); */
}

.iconos-redes-sociales i{
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover{
    background-color:white;
    border: 2px solid  #e6e6d3;
}

.iconos-redes-sociales a:hover i{
    color:#83816f
}
.derechos-de-autor{
    font-size: 15px;
    color: cadetblue;
    padding: 100px;

}

  /* boton de wsp */

  .container-boton{
    background-color: #2e6329;
    border: 1px solid #fff;
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 70px;
    right: 35px;
    padding: 10px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}


.container-boton:hover{
    transform: scale(1.5);
    transition: 0.3s;
}

.boton{
    width: 50px;
    transition: ease 1s;
}

/* @keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    } */


/* Adaptable Responsive */

@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
    
}